Flask
pydantic
click
flake8
sqlalchemy
psycopg2-binary
bcrypt
PyJWT
gunicorn
openai>=1.14.0
langchain>=0.1.17
langchain-community>=0.0.21
langchain-openai>=0.0.5
chromadb
tiktoken
sentence-transformers
faiss-cpu